.info{
	color: yellow;
	font-size: 45px;
	border: 4px 3px 2px;
	font-family:'Mytestfont';
}
@font-face{
	font-family: 'Mytestfont';
	src: url("Cookie-Regular.ttf")
}
.content1{
	border-style: solid;
	border-color: black;
	margin-right: 150px;
	float: right;
}
.photo{
	float: left;
}
.infolovephoto{
	height: 100px;
}
.love{
	color: green;
	font-size: 20px;
}
.demo2{
	font-size: 35px;
	margin: auto;
	color: black;
	font-weight: bold;
}
.demo3{
	float: left;
	font-weight: bold;
	font-size: 15px;
}
.re-demo3{
	margin-left: 150px;
	font-weight: normal;
	font-size: 15px;
}
.content3{
	font-size: 35px;
	color: black;
	text-align: left;
}
.b1{
	color: green;
}
.re-content4{
	float: left;
}
.demo5{
	margin-right: 150px;
}
.content2{
	float: left;
}